@page "/Data/Users"
 
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IUserData _db

<h1>Users page</h1>
<h4> current Users</h4>
@if (users is null)
{
    <p><em>loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Address</td>
                </tr>
            }
        </tbody>
    </table>

}



@code {
    private List<UserModel> users;
        protected override async Task OnInitializedAsync()
        {
            users = await _db.GetUsers();
        }

}
