h1 {
    text-align: center;
}

div {
    flex-wrap: wrap;
    align-content: center;
}

.card {
    /*    flex: 1 0 33%;*/
}

.card-text {
    color: black;
}

.card-title {
    color: black;
    background-color: aliceblue;
    text-align: center;
}

.card-deck {
    margin-left: 24px;
    align-content: center;
}

.card-block {
    background-color: lightgray;
    object-fit: contain;
}


.flex-column {
    height: 100%;
    /*    width: 33%;*/
}

#profilebar {
    width: 100%;
    display: block;
    height: 200px;
}

#profilepic {
    width: 90%;
}

body {
    background-color: #dee2e6;
}

.profbutton {
    float: right;
    border-radius: 50px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    /*appearance: button;*/
    text-decoration: none;
    color: initial;
}

.button {
    display: inline-block;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #004085;
}

    .button:hover {
        background-color: aliceblue;
    }

    .button:active {
        background-color: aliceblue;
        box-shadow: 0 5px #004085;
        transform: translateY(4px);
    }

.card-deck span {
    display: none;
}

@media (min-width:1200px) {
    .card-deck span:nth-of-type(5n) {
        display: block;
        width: 100%;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    .card-deck span:nth-of-type(4n) {
        display: block;
        width: 100%;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .card-deck span:nth-of-type(3n) {
        display: block;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card-deck span:nth-of-type(2n) {
        display: block;
        width: 100%;
    }
}
