p {
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
}
/*this code is specifically for making the survey links display in rows of 4*/
/*.surv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.surv ul li {
    list-style: none;
    flex: 0 0 25%;
}*/

.button {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 50px;
    box-shadow: 0 9px #004085;
}

    .button:hover {
        background-color: aliceblue;
    }

    .button:active {
        background-color: aliceblue;
        box-shadow: 0 5px #004085;
        transform: translateY(4px);
    }

div {
    background-color: transparent;
    /*    display: flex;
    flex-wrap: wrap;*/
}

.card {
    object-fit: contain;
    background-color: lightgray;
    width: 200px;
    flex: 1 0 33%;
}

.card-title {
    color: black;
    background-color: lightgray;
    text-align: center;
    width: 200px;
}

.card-deck {
    margin-left: 24px;
}

.card-block {
    background-color: lightgray;
    width: 200px;
    object-fit: contain;
}

.flex-column {
    height: 100%;
}

#profilepic {
    width: 90%;
}

body {
    background-color: transparent;
}

.card-deck span {
    display: none;
}

@media (min-width:1200px) {
    .card-deck span:nth-of-type(5n) {
        display: block;
        width: 100%;
    }
}

@media (min-width:992px) and (max-width: 1199px) {
    .card-deck span:nth-of-type(4n) {
        display: block;
        width: 100%;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .card-deck span:nth-of-type(3n) {
        display: block;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card-deck span:nth-of-type(2n) {
        display: block;
        width: 100%;
    }
}
