@page "/Account"
@using SurveyWebsite.Data
@using SurveyWebsite.Pages
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject Testingstuff ts
@inherits OwningComponentBase<Testingstuff>
@inject NavigationManager NavMngr

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SurveyWebsite</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Account.css" rel="stylesheet" />
    <link href="SurveyWebsite.styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Account Page</h1>
    <hr />
    <div class="row" id="profilebar">
        <div>
            <!--<img src="" alt="profile" id="profilepic">@*this code is for profile info if desired later*@
            <h5>Role: </h5>
            <h5>Survey's Created: </h5>
            <h5>Survey's Taken: </h5>-->
            <a href="Identity/Account/Manage" class="btn btn-primary active profbutton" role="button">Profile Settings</a>
            <ul>
                <li><button class="btn btn-primary button" @onclick="goHome"> Answer the QOTD </button></li>
                <li><button class="btn btn-primary button" @onclick="ViewOrder"> Pick a Survey to Take </button></li>
            </ul>
        </div>@*home after login redirect to answer questionoftheday*@
    </div>
    <div class="row">
        <div class="flex-column">
            <div class="card-deck">
                <div class="card mb-4">
                    <div class="card-block">
                        <h4 class="card-title">Survey's Taken</h4>
                        <p class="card-text">
                            Click this Button to see the Survey's you have taken in the past.<br />
                            <button class="btn btn-primary" @onclick="TakenRedirect"> Survey's Taken </button>
                        </p>
                    </div>
                </div>
                <span></span>
                <div class="card mb-4">
                    <div class="card-block">
                        <h4 class="card-title">Survey's Created</h4>
                        <p class="card-text">
                            Click this Button to see your Created Survey's on this site.<br />
                            <button class="btn btn-primary" @onclick="CreatedRedirect"> Survey's Created </button>
                        </p>
                    </div>
                </div>
                <span></span>
                <div class="card mb-4">
                    <div class="card-block">
                        <h4 class="card-title">Survey Order</h4>
                        <p class="card-text">
                            Click this Button to see the Order of the current Survey list.<br />
                            <button class="btn btn-primary" @onclick="ViewOrder"> Order of Surveys </button>
                        </p>
                    </div>
                </div>
                <span></span>
            </div>
        </div>
    </div>
</body>
</html>




@code {

    private string user = "";

    protected override void OnInitialized()
    {
        if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {

            user = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        }

        base.OnInitialized();
    }

    [Parameter]
    public int Value { get; set; }

    private void TakenRedirect()
    {
        NavMngr.NavigateTo("/SurveysTaken");
    }

    private void CreatedRedirect()
    {
        NavMngr.NavigateTo("/SurveysMade");
    }

    private void ViewOrder()
    {
        NavMngr.NavigateTo("/OrderList");
    }

    private void goHome()
    {
        NavMngr.NavigateTo("/HomeAfterLogin");
    }


}