@page "/FAQ"


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SurveyWebsite</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/FAQ.css" rel="stylesheet" />
    <link href="SurveyWebsite.styles.css" rel="stylesheet" />
</head>
<body>
    <h1>FAQ Page</h1>
    <hr />
    <ul class="mylist">
        <li>
            <div class="dropdown">
                <button class="dropbtn">How do I reset my Login?</button>
                <div class="dropdown-content">
                    <p>
                        If you have forgotten your username and/or password, then you click
                        on the link under the username and password textboxes respectively.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">What if the submit button doesn't work?</button>
                <div class="dropdown-content">
                    <p>
                        There might be a miscommunication between the the website and our datastore,
                        refresh the page and try again.
                    </p>
                </div>
            </div>
        </li>

        <li>
            <div class="dropdown">
                <button class="dropbtn">If I want to make a survey, how do I start?</button>
                <div class="dropdown-content">
                    <p>
                        1.Click Log in at the upper right of the home page.<br>
                        2.Enter your Username and Password in the textboxes.<br>
                        3.Click the Login button.<br>
                        4.

                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">I forgot my username, what do I do?</button>
                <div class="dropdown-content">
                    <p>
                        You must know the email address used the when the account was created.<br>
                        <br>
                        1.Click Log in at the upper right of the home page.<br>
                        2.Click Forgot your Username?<br>
                        3.Type in the email address used when the account was created.<br>
                        4.Click the Submit button.<br>
                        <br>
                        You will receive an email listing your username(s).
                    </p>
                </div>
            </div>
        </li>
    </ul>
</body>
</html>