
@page "/HomeAfterLogin"
@using SurveyWebsite.Data
@using SurveyWebsite.Pages
@inject Testingstuff ts
@inherits OwningComponentBase<Testingstuff>


<h3>Welcome to Centralia College Survey Site!</h3>
<br />
<h4>Answer the Question of the day!</h4>
<br />
<h6> @QuestionOfTheDayText(22) </h6>

<div>
    @{
        int x = 0;
        foreach (string answer in GetAnswerTextQotD(1))
        {
            <div>
                <label>@GetAnswerTextQotD(1)[x]</label>
                <button class="btn btn-primary" @onclick="() => SendMutipleResponseQotD(1,x)">Choose Me</button>
            </div>

            x = x + 1;
        } }
</div>
@*Need a way to decide which of these blocks of code, top or bottom, to show based on the type of question that the QotD is.
    Also need to figure out how to determine which QotD to use. Right now it is hardcoded to be just the first one.*@
<div>
    <form>
        <input type="text" @bind="InputValue" @bind:event="oninput" />
        <button class="btn btn-primary" @onclick="() => SendOpenededResponse(1, InputValue)">Send Me</button>
    </form>
</div>

@code {

    private string InputValue { get; set; }

    public string QuestionOfTheDayText(int qid)
    {
        return ts.GetQuestionTextQotD(qid).ToString();
    }

    public string[] GetAnswerTextQotD(int qid)
    {
        return ts.ViewMutipleChoiceQotD(qid);
    }

    //html working, getting error when calling ts.SendMultipleResponseQotD, full error in TestingStuff.cs
    public void SendMutipleResponseQotD(int qid, int userInput)
    {
        ts.SendMutipleResponseQotD(qid, userInput);
    }

    //html working, getting error when calling ts.SendOpenededResponse, full error in TestingStuff.cs
    public void SendOpenededResponse(int Qid, string userString)
    {
        ts.SendOpenededResponse(Qid, userString);
    }
}