
@page "/HomeAfterLogin"
@using SurveyWebsite.Data
@using SurveyWebsite.Pages
@inject Testingstuff ts
@inject NavigationManager NavMangr
@inherits OwningComponentBase<Testingstuff>

@{
    try
    {
        ViewQuestionsofTheDay();
    }
    catch (IndexOutOfRangeException)
    {
        ErrorRediect();
    }
}

<h3>Welcome to Centralia College Survey Site!</h3>
<br />
<h4>Answer the Question of the day!</h4>
<br />
<h6> @ViewQuestionsofTheDay().Item2 </h6>

@{
    if (ViewQuestionsofTheDay().Item3 != 3) // 1 open response, 2 t/f, 3 mult choice
    {
    <div>
        <form>
            <textarea type="text" @bind="InputValue" />
        </form>
        <button class="btn btn-primary" @onclick="() => SendOpenededResponseQotD(ViewQuestionsofTheDay().Item1, InputValue)">Send Me</button>
    </div>
    }
    else
    {
        <div>
            @{
                int x = 0;
                foreach (string answer in GetAnswerTextQotD(ViewQuestionsofTheDay().Item1))
                {
                    <div>
                        <label>@GetAnswerTextQotD(ViewQuestionsofTheDay().Item1)[x]</label>
                        <button class="btn btn-primary" @onclick="() => SendMutipleResponseQotD(ViewQuestionsofTheDay().Item1,x)" >Choose Me</button>
                    </div>

                    x = x + 1;
                } }
        </div>
    }
}

@code {

    private string InputValue { get; set; }

    public string QuestionOfTheDayText(int qid)
    {
        return ts.GetQuestionTextQotD(qid).ToString();
    }

    public string[] GetAnswerTextQotD(int qid)
    {
        return ts.ViewMutipleChoiceQotD(qid);
    }

    public void SendMutipleResponseQotD(int qid, int userInput)
    {
        ts.SendMutipleResponseQotD(qid, userInput);
        QotDRedirect();
    }

    public void SendOpenededResponseQotD(int Qid, string userString)
    {
        ts.SendOpenededResponseQotD(Qid, userString);
        QotDRedirect();
    }

    public Tuple<int, string, int> ViewQuestionsofTheDay()
    {
        return ts.ViewQuestionsofTheDay();
    }

    private void ErrorRediect()
    {
        NavMangr.NavigateTo("/Error Pages/QotDError");
    }

    private void QotDRedirect()
    {
        NavMangr.NavigateTo("/ThanksForTaking");
    }
}