@page "/Results"
@model SurveyWebsite.Pages.ResultsDisplayModel

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Test</th>
                <th>Test</th>
                <th>Test</th>
                <th>Test</th>
            </tr>
        </thead>
        <tbody>
            @if (data == null || data.Tables.Count == 0)
            {
                //no data?
            }
            else
            {
                @foreach (var d in data)
                    {
            <tr>
                <td>Test Data</td>
                <td>Test Data</td>
                <td>Test Data</td>
            </tr>
                    }
                data = null;
            }
        </tbody>
    </table>
}

@{
    
}
