@page "/SurveysTaken"
@attribute [Authorize]
@using DataAccess.Models
@using Microsoft.AspNetCore.Html
@using static System.Text.Encodings.Web.HtmlEncoder;
@using System.Collections.Generic
@using System.Security.Claims
@using Microsoft.AspNetCore.WebUtilities
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject NavigationManager nav
@inject Testingstuff ts
@inherits OwningComponentBase<Testingstuff>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SurveyWebsite</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/AccountPages.css" rel="stylesheet" />
    <link href="SurveyWebsite.styles.css" rel="stylesheet" />
</head>
<body>
    <h1>Survey's Taken</h1>
    <hr />
    <div>
        <div class="surv">
            <ul>
                @foreach (var survey in ViewTaken())
                {
                    {
                        <li><a href="/SurveyResults?Value=@survey.Item2&Title=@survey.Item1">@survey.Item1.ToUpper()</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</body>
</html>

@code {
    private string user = "";

    protected override void OnInitialized()
    {
        if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {

            user = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        }


        base.OnInitialized();
    }

    [Parameter]
    public int Value { get; set; }
    [Parameter]
    public string Title { get; set; }

    public Tuple<string, int>[] ViewTaken()
    {
        return ts.ViewTaken(user);
    }
}
