@page "/SurveyResults"
<h3>SurveyResults</h3>


@*@foreach (survey survey in surveylist)
{*@
  
    <h4>Survey: @*SurveyTitle*@</h4>
    <label>Survey was open through: @*Begin and end dates*@</label>
    @*
    foreach(option in options)
        {
            each option and percentage 
        }
    *@

@*}*@
@code {

}
