@page "/Testing"
@using SurveyWebsite.Data
@using SurveyWebsite.Pages
@inject Testingstuff ts
@inherits OwningComponentBase<Testingstuff>


<h3>Testing</h3>
<button class="btn btn-primary" @onclick="questionAdd"> addQuestion </button>

@code {



    public void questionAdd()
    {

        int[] myint = ts.TrueFalseResponses(5);
        int[] mymutiple = ts.GetResponseMutipleAnswers(4,3);
        string[] openresponse = ts.GetOpenResponse(6);
        var a = 0;
    }

}