@page "/Testing"
@attribute [Authorize(Policy ="RequireCreation")]
@using SurveyWebsite.Data
@using SurveyWebsite.Pages
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject Testingstuff ts
@inherits OwningComponentBase<Testingstuff>

<h3>Testing</h3>
<button class="btn btn-primary" @onclick="questionAdd"> addQuestion </button>

@code {


    private string user = "";

    protected override void OnInitialized()
    {
        if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            user = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        }

        base.OnInitialized();
    }

    public void questionAdd()
    {
        ts.SendUserTakenSurvey(user, 12);
       // ts.ChangeUserRole(user,"superAdmin");
        var te = 3;

    }

}