@page "/Testing"
@using SurveyWebsite.Data
@using SurveyWebsite.Pages
@using System.Security.Claims
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@inject Testingstuff ts
@inherits OwningComponentBase<Testingstuff>


<h3>Testing</h3>
<button class="btn btn-primary" @onclick="questionAdd"> addQuestion </button>

@code {


    private string user = "";

    protected override void OnInitialized()
    {
        if (_httpContextAccessor.HttpContext.User.Identity.IsAuthenticated )
        {

            user = _httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
        }


        base.OnInitialized();
    }
    public void questionAdd()
    {

        var t=  ts.IsRequredAnswer(7);
        var f= ts.IsRequredAnswer(6);
        var te = 3;

    }

}