

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <picture>
        <img class="clogo" src="clogo.png" alt="centralia college logo" />
    </picture>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true">Home</span>
            </NavLink>
        </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Account">
                    <span class="oi oi-account-login" aria-hidden="true">Account</span>
                </NavLink>
            </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TakeSurveys">
                <span class="oi oi-bolt" aria-hidden="true">Take Survey</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FAQ">
                <span class="oi oi-question-mark" aria-hidden="true">FAQ</span>
            </NavLink>
        </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="SurveyMaker">
                    <span class="oi oi-list-rich" aria-hidden="true">Survey Maker</span>
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="QotdMaker">
                    <span class="oi oi-list-rich" aria-hidden="true">Question Maker</span>
                </NavLink>
            </li>
          

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="QODResults">
                <span class="oi oi-account-login" aria-hidden="true"></span> QotD Results
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
